
<div class="main" id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p class="list">
    <strong>| Description - </strong>
    <%= article.body %>
  </p>

  <p class="list">
    <strong>| Published:</strong>
    <%= article.published %>
  </p>
</div>

