<div class="main">
<div class="articles_container">

<h1>New article</h1>

<%= render "form", article: @article %>

<br>

<div class="link">
  <%= link_to "Back to articles", articles_path %>
</div>

</div>
</div>